.containerEbook {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.containerEbook img {
    width: 100%;
}

.containerEbook a {
    width: 160px;
    font-family: Vera Sans;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: red;
    font-weight: 600;
    margin-top: 20px;
    border: 2px solid red;
    border-radius: 18px;
    height: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
}

.containerEbook a:hover {
    color: white;
    background-color: red;
}